@model NotesMarketPlace.Models.tblManageNoteType
@{
    Layout = "~/Views/Shared/_AdminAfterLoginLayout.cshtml";

    ViewBag.Title = "AddType";
}

<section id="addtype" class="fixheight">
    <div class="content-box-md">
        <div class="container">
            <!-- General heading -->
            <div class="general-heading">
                <h3>Add Type</h3>
            </div>
            <div class="admin-p">
                <div class="row">
                    <div class="col-md-6 col-lg-8 col-sm-12 col-xl-8">
                        <form method="post">
                            <div class="form-content">
                                <div class="form-group">
                                    <label for="type">Type *</label>
                                    @Html.TextBoxFor(m => m.typeName, new { placeholder = "Enter your type name", @class = "form-control ", @id = "type" })
                                    @Html.ValidationMessageFor(model => model.typeName, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label for="desc">Description *</label>
                                    @Html.TextBoxFor(m => m.description, new { placeholder = "Enter your description", @class = "form-control ", @id = "desc" })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button id="btn-admin-p" type="submit" class="btn btn-primary btn-block" name="command" value="update">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

