<!DOCTYPE html>
<html>
<head>
    <!-- important meta tags -->
    <meta charset="utf-8"> <!-- for encoding -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Compatible with browser -->
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0 ,user-scalable=no">

    <title>@ViewBag.Title - NoteMarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>
<body>

    <div class="body-content">
        @RenderBody()
    </div>

    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>

</body>
</html>
